.mainCotainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer{
    text-align: center;
}
.listContainer{
    width: 80%;
}
.listContainer li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listContainer li button{
    width: 100px;
    height: 20px;
}
